@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

/* For WEB115
Filename: brand.css */

/* HTML Style */
html {
	background-color: rgb(220, 208, 255);
	font-family: 'Gentium Plus', Arial, sans-serif;
	color: rgb(8, 50, 32);
	text-align: center;
}

/* Header Styles */
h1, h2 {
	color: rgb(102, 0, 102);
}

/* Body Style */
body {
	margin-left: 25%;
	margin-right: 25%;
}

/* Paragraph Style */
p {
	font-size: 110%;
}

footer p {
	font-size: 100%;
}

p#tagline {
	font-style: italic;
}

/* Link Styles */
a.validate {
	text-decoration: none;
}

/* List Styles */
ul {
	list-style-position: inside;
}